.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 300px;
}

.card .card-image .card-title {
  color: black;
  font-weight: 400;
}

img {
  max-height: 500px;
}

.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}

.card-image, img {
  height: 50vh;
}

.card {
  height: 70vh;
  font-size: 2vh;
}

.card-content {
  text-align: center;
}
