.NavBar,.NavBar-gifTitle, .NavBar-loginSignup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar {
  padding: 0 3vh;
}

.gif {
  height: 8vh;
}

.welcome {
  padding-left: 1vh;
}

.categories {
  display: flex;
  justify-content: space-evenly;
}